<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments :: head"></th:block>
    <title>Movies</title>
</head>
<body>
<nav th:replace="fragments :: navbar"></nav>
<div class="container">
    <h1 class="text-center">Best movies:</h1>
    <ul class="list-group mb-5">
        <li th:each="movie : ${movies}" class="list-group-item">
            <a th:href="@{|/movies/${movie.id}|}" th:text="${movie.title}"></a>
        </li>
    </ul>
    <button class="btn btn-info">
        <a th:href="@{/}">Home</a>
    </button>
</div>
</body>
</html>